{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jasur's Blog</title>
    <meta name="author" content="Jasur Juraev">
    <meta property="og:site_name" content="Azimjon's Blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "/css/flexgridcombo.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="{% static "/css/style.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="/blog/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header class="header--title flex align-items-center">
    <div class="container">
        <div class="align-items-center flex">
            <div class="logo-wrapper">
                <a class="logo" href="{% url 'main' %}">Jasur's Blog</a>
            </div>
            <ul class="nav align-items-center">
{#                <li><a class="list-item" href="/academy/">Academy</a></li>#}
                <li><a class="list-item" href="{% url 'blog' %}">Blog</a></li>
{#                <li><a class="list-item" href="/talks/">Talks</a></li>#}
                <li><a class="list-item" href="https://t.me/s/umine17" target="_blank">Channel</a></li>
            </ul>
            <div class="burger-menu">
                <div class="bar bar--top"></div>
                <div class="bar bar--middle"></div>
                <div class="bar bar--bottom"></div>
            </div>
        </div>
    </div>
</header>
<section class="section-title">
    <div class="container">
        <div class="section-content">
            <h1>Blog</h1>
        </div>
    </div>
</section>
<section id="" class="flex align-items-center">
    <div class="container">
        <div class="row justify-between align-top">
            <div id="archive" class="col-md-7">
                <ul class="list-wrapper">
                    {% for blog in blogs %}
                        <li>
                            <a class="list-item" href="{% url 'post' blog.slug %}">
                                <div class="date">{{ blog.created_at }}</div>
                                <div class="title">{{ blog.title }}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="subscribe-form  col-md-4 sticky " id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                <h6>NEWSLETTER</h6>
                <p>
                    Subscribe to <a href="https://t.me/umine17">@umine17</a>
                    telegram channel where I share my new courses, articles, talks and more.
                </p>
            </div>
        </div>
    </div>
</section>
{#<footer>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <p>#}
{#                &copy; 2023 jasur.com#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
<script src="{% static "/js/ScrollMonitor.min.js" %}"></script>
<script src="{% static "/js/TweenMax.min.js" %}"></script>
<script src="{% static "/js/main.js" %}"></script>
</body>
</html>
